<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- CI with primitives -->
	<bean id="student1" class="com.iranna.dependencyinjection.Student">
		<constructor-arg value="111" type="int"></constructor-arg>
		<constructor-arg value="Raj" type="String">
		</constructor-arg>
	</bean>
	<bean id="student2" class="com.iranna.dependencyinjection.Student">
		<constructor-arg value="112" type="int"></constructor-arg>
		<constructor-arg value="Rahul" type="String">
		</constructor-arg>
	</bean>
	

	<!-- CI with dependent object -->
	<bean id="address1" class="com.iranna.dependencyinjection.Address">
		<constructor-arg value="Bangaluru"></constructor-arg>
		<constructor-arg value="Karnataka"></constructor-arg>
		<constructor-arg value="India"></constructor-arg>
	</bean>
	<bean id="employee1" class="com.iranna.dependencyinjection.Employee">
		<constructor-arg value="123" type="int"></constructor-arg>
		<constructor-arg value="Raj" type="String"></constructor-arg>
		<constructor-arg>
			<ref bean="address1" />
		</constructor-arg>
	</bean>


	<!-- CI with collections of primitive/String values -->
	<bean id="question1" class="com.iranna.dependencyinjection.Question">
		<constructor-arg value="456" type="int"></constructor-arg>
		<constructor-arg value="What is the cpital of India"></constructor-arg>
		<constructor-arg>
			<list>
				<value>New Delhi</value>
				<value>Mumbai</value>
				<value>Bnglore</value>
				<value>Hyderbad</value>
			</list>
		</constructor-arg>
	</bean>
	
	<!--  CI with collections of Objects -->
	<bean id="ans1" class="com.iranna.dependencyinjection.Answers">
	<constructor-arg value="33"></constructor-arg>
	<constructor-arg value="Carrot is a fruit"></constructor-arg>
	<constructor-arg value="John"></constructor-arg>
	</bean>
	
	<bean id="ans2" class="com.iranna.dependencyinjection.Answers">
	<constructor-arg value="35"></constructor-arg>
	<constructor-arg value="Carrot is a vegetable"></constructor-arg>
	<constructor-arg value="William"></constructor-arg>
	</bean>
	<bean id="questions1" class="com.iranna.dependencyinjection.Questions">
	<constructor-arg value="11"></constructor-arg>
	<constructor-arg value="What is Carrot"></constructor-arg>
	<constructor-arg>
	<list>
	<ref bean="ans1"/>
	<ref bean="ans2"/>
	</list>
	</constructor-arg>
	</bean>
	
	<!--  <context:component-scan base-package="com.iranna.configmethods"></context:component-scan>-->

</beans>